.vedio-highlight-input{
    background-color: black;
    margin-top: 10rem;
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.input-main-header{
    margin-bottom: 2rem !important;
    color: #6aac28;
    opacity: 1 !important;
}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #6aac28 !important;
    height: 18.75rem;
    width: 31.25rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: -1;
    color: #6aac28;
    opacity: 1 !important;
}

.VideoInput_video{
    /* border-radius: 2rem; */
    background-color: black;
}

.data-div{
    margin: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    flex-direction: column;
}

.span{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.btn{
    background-color: #6aac28 !important;
    padding: 1rem 4rem !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.main-fader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.main-fader .loader {
    
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}
.main-fader .loader svg {
    height: 300px;
    display: block;
    margin: 0 auto;
}
.main-fader .loader svg path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #26a380;
}
.main-fader .loader svg path.path-7 {
    animation-delay: -1s;
}
.main-fader .loader svg path.path-6 {
    animation-delay: -0.875s;
}
.main-fader .loader svg path.path-5 {
    animation-delay: -0.75s;
}
.main-fader .loader svg path.path-4 {
    animation-delay: -0.625s;
}
.main-fader .loader svg path.path-3 {
    animation-delay: -0.5s;
}
.main-fader .loader svg path.path-2 {
    animation-delay: -0.375s;
}
.main-fader .loader svg path.path-1 {
    animation-delay: -0.25s;
}
.main-fader .loader svg path.path-0 {
    animation-delay: -0.125s;
}
@keyframes pulse {
    0% {
        opacity: 0.1;
   }
    30% {
        opacity: 0.8;
   }
    100% {
        opacity: 0.1;
   }
}


@media screen and (max-width:550px){
    .input-form{
        height: 14rem;
        width: 25rem;
    }
    .VideoInput_video{
        height: 205px;
    }
}

@media screen and (max-width:450px){
    .input-form{
        height: 10rem;
        width: 20rem;
    }
}