.vedio-highlight-adv{
    background-color: #212529;
    margin-top: 10rem;
    width: 100%;
}


.card-img-top{
    width: 100% !important;
    height: 10rem !important;
}

.card{
    /* background-color: #6aac28 !important; */
    border: none !important;
    outline: none !important;
    max-width: 16rem;
}

.card-body{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
}